status-bar .navbar {
    min-height: 40px;
    max-height: 40px;
    left: 220px;
    border-bottom: 0;
    border-top: 1px solid #178acc;
    background-color: #3a3f44;
    background-image: linear-gradient(#52575c, #3a3f44 70%, #3a3f44);
    background-repeat: no-repeat;
    border-top: 1px solid #0c0d0e;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

status-bar .navbar.visible {
    bottom: 0;
}

status-bar .btn {
    height: 30px;
    line-height: 13px;
    margin-top: -3px;
    margin-left: 5px;
}

status-bar .dropup {
    display: inline-block;
}

status-bar .sortby {
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
}

status-bar .status-bar-sort {
    float: left;
}

status-bar .status-bar-status {
    width: 450px;
    margin: 10px auto;
    text-align: center;
}

status-bar .status-bar-status .progress {
    display: inline-block;
    width: 250px;
    background-color: #202328;
    background-image: linear-gradient(to bottom, #202328, #202328);
    background-repeat: repeat-x;
}

status-bar .status-bar-status span {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    line-height: 20px;
}

status-bar .status-bar-status .list-infos {
    color: #7a8288;
}

status-bar .dropdown-menu {
    border-radius: 5px 5px 0 0;
    margin-left: 5px;
    margin-bottom: 8px !important;
    background-color: #45494e;
    border: 1px solid #0c0d0e;
    border-bottom: 0;
}

@media (max-width: 767px) {
    status-bar .navbar {
        left: 0;
        bottom: -40px;
    }

    status-bar .status-bar-sort {
        display: none;
    }

    status-bar .status-bar-status {
        width: 100%;
    }

    status-bar .status-bar-status .progress {
        width: 120px;
    }
}