side-bar {
    z-index: 1031;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 220px;
    width: 220px;
    margin-left: -220px;
    overflow-y: hidden;
    background: #4b4d51;
    transition: all 0.3s ease;
}

side-bar .nav-stacked > li + li {
    margin-top: 0;
}

side-bar .nav > li > a {
    border-radius: 0;
    padding: 13px 0 13px 33px;
    color: #c8c8c8;
}

side-bar .nav > li:last-child {
    margin-bottom: 5px;
}

side-bar .nav > li.side-bar-title {
    padding: 10px 15px;
    color: #c8c8c8;
    background-color: #3a3f44;
    border-top: 1px solid #0c0d0e;
    border-bottom: 1px solid #0c0d0e;
    margin-bottom: 5px;
}

side-bar .nav > li.active > a, side-bar .nav > li > a:hover, side-bar .nav > li.active > a:hover, side-bar .nav > li.active > a:focus, side-bar .nav > li > a:focus {
    color: #c8c8c8;
    background-color: inherit;
}

side-bar .side-bar-body {
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    border-right: 1px solid #0c0d0e;
}

side-bar .side-bar-search {
    padding: 15px 10px 20px 10px;
}

side-bar .side-bar-search input, side-bar .side-bar-search button {
    background: #2e3236 !important;
    box-shadow: none !important;
}

side-bar .side-bar-search input {
    color: #c8c8c8;
    border-right: none !important;
}

side-bar .side-bar-search button {
    border-left: none !important;
}

side-bar .nav-pills > li > a > .glyphicon, side-bar .side-bar-tools > .btn > .glyphicon {
    margin-right: 7px;
}

side-bar .side-bar-login {
    height: 50px;
    padding: 10px;
    background-color: #3a3f44;
    background-image: linear-gradient(#52575c, #3a3f44 70%, #3a3f44);
    background-repeat: no-repeat;
    border-right: 1px solid #0c0d0e;
    border-bottom: 1px solid #0c0d0e;
}

side-bar .side-bar-login > span {
    line-height: 30px;
}

side-bar .side-bar-login > span:first-child {
    font-weight: bold;
}

side-bar li .list-deco {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -6px;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    border: 1px solid #0c0d0e;
}

side-bar li:not(.active):hover .list-deco {
    background-color: #808080;
}

side-bar li.active .list-deco {
    background-color: #2e3236;
}

@media (max-width: 767px) {
    side-bar .nav > li:not(.active) > a:hover {
        background-color: inherit;
    }

    #wrapper.toggled side-bar {
        left: 0;
    }
}